<!doctype html>
<html lang="pl" data-bs-theme="auto">
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="http:/components/crypto-js.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dariusz Marcisz">
    <title>AdminPanel UI</title>
    <link href="./css/shell-ui.css" rel="stylesheet">
    <link href="./css/sidebars.css" rel="stylesheet">
  </head>
<body>
 
    <div id="app">
    </div>
 
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/sidebars.js"></script>
    <script type="module">
	    import ShellUi from './components/shell-ui-0.0.1.js';

        <TOKEN>
        var app = Vue.createApp(ShellUi, {token: key}).mount('#app');
    </script>


</body>
</html>
                                             
